{{ $collapsibleid := (.Get "id") }}
<div class="content">
    <a class="collapsible" style="font-weight: bold;" id="collapsible-{{md5 $collapsibleid}}">
        {{.Get "id" | markdownify}} <span>▾</span>
    </a>
    <div id="collapsible-content-{{md5 $collapsibleid}}" style="display: none;">
        {{ replaceRE "(^\\s)" "" .Inner| markdownify }}
    </div>
</div>

<script>
    var coll = document.getElementById("collapsible-{{md5 $collapsibleid}}");
    var content = document.getElementById("collapsible-content-{{md5 $collapsibleid}}");

    var pathOfCollapsible = "{{.Get "path"}}";
    var currentPath = window.location.pathname;


    if (currentPath.startsWith(pathOfCollapsible)) {
        content.style.display = "block";
    }

    coll.addEventListener("click", function () {

        var content = document.getElementById("collapsible-content-{{md5 $collapsibleid}}");
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
</script>